@model Player
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="jumbotron text-black font-weight-bold text-center" style="background-image: url(https://live.staticflickr.com/5544/10307542203_8ecae47c05_b.jpg); "><h2>Welcome to Press Your Luck!</h2></div>
<div>
    <form asp-controller="Player" asp-action="Index" method="post" enctype="application/x-www-form-urlencoded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group d-grid gap-2 col-8 mx-auto justify-content-lg-end text-center">
            <label asp-for="Name" class="control-label">Enter your name</label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-dark"></span>
        </div>
        <div class="form-group d-grid gap-2 col-8 mx-auto justify-content-lg-end text-center">
            <label asp-for="Coins" class="control-label ">Enter your coins</label>
            <input type="text" asp-for="Coins" class="form-control" />
            <span asp-validation-for="Coins" class="text-dark"></span>
        </div>
        <div class="d-grid gap-2 col-3 mx-auto justify-content-lg-end">
            <input type="submit" value="Join The Game!" class=" btn btn-info" />
        </div>
    </form>
</div>